services:
  postgres:
    image: postgres:16-alpine
    container_name: keycloak-postgres
    command: -p 8888
    ports:
      - "8888:8888" # 외부 포트용 접속
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=password
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    healthcheck: # DB 컨테이너 health test
      test: ["CMD-SHELL", "pg_isready -U keycloak -d keycloak -p 8888"]
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  keycloak:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        HOSTNAME: 192.168.0.16
        HTTPS_PORT: 8743
        KEYSTORE_PASSWORD: password
    container_name: keycloak-test
    ports:
      - "8743:8743"
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=password
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://postgres:8888/keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=password
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
